<%= form_for([@post, @post.comments.build]) do |f| %>
  
<div style="float:left">
  <div>
    <span class="label" style="margin-top:10px;">
      Name</span><br>
    <%= f.text_field :commenter %>
  </div>

  <!-- problems left. error msg does not work correctly -->
  <% if @post.comments.build.errors[:commenter].presence %>
    <% @post.comments.build.errors[:commenter].length.times do |i| %>
      <span style="font-size:0.7em;color:red">
        <%= image_tag("error.png", size: "15x15", alt: "error_icon")%>
        <%= @post.comments.build.errors[:commenter][i] %><br>
      </span>
    <% end %>
  <% end %>

  <div>
    <span class="label">Password</span><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <span class="label">Password again</span><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if @post.comments.build.errors[:password_confirmation].presence %>
    123
  <% end %>

  <div style="border-top: 1px dotted #000;width:165px;margin-top:5px;">
    <span style="font-size:0.7em;"> * a password is required to delete the comment.
      </span><br>
  </div>
</div>

<div style="float:left;margin-left:30px;">
    <span class="label" style="margin-top:10px;">Add your comment below:</span><br>
    <%= f.text_area :body, size: "70x10" %>

  <div style="text-align:right">
    <%= f.submit "Submit", class: "btn" %>
  </div>
</div>
<% end %>
<div style="clear:left"></div>