<!-- Comment form in Post detail(show) page -->

<%= form_for([@post, @comment]) do |f| %>
  
<div class="CF">
  <div>
    <span class="label" style="margin-top:10px;">
      Name</span><br>
    <%= f.text_field :commenter %>
  </div>
  <%= raw error_output(@comment, "commenter") %>

  <div>
    <span class="label">Password</span><br>
    <%= f.password_field :password %>
  </div>
  <%= raw error_output(@comment, "password") %>

  <div>
    <span class="label">Password again</span><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= raw error_output(@comment, "password_confirmation") %>

  <div class="CF_note">
    <span> * a password is required to delete the comment.
      </span><br>
  </div>
</div>

<div class="CF_right">
  <div class="label">Add your comment below:</div> 
  <div><%= f.text_area :body, size: "70x10" %></div>
  <%= raw error_output(@comment, "body") %>
  <div id="CF_submit">
    <%= f.submit "Submit", class: "btn" %>
  </div>
</div>
<% end %>

<!-- form end -->

<!-- height auto -->
<div id="CF_clear"></div>