
<%= form_tag(
post_comment_path(params[:post_id],params[:id]),
 {
 	method: "delete",
 }
 ) do %>
 
<p>
  <%= label_tag 'password' %><br>
  <%= password_field_tag 'password' %>
  <nbsp;><font color="red"><%= flash[:alert] %></font>
</p>



<p> 
  <%= submit_tag :delete %>
</p>

<% end %>