<%= form_for @post do |f| %>
  <% submit = request.env['PATH_INFO'] == "/posts/new"? "Create" : "Update" %>

<div class="row">
  <div class="span10 offset2">
    <div class="row-fluid" >
      <div id="errorExplanation" class="span8 offset2" style="color:red">
        <% if @post.errors.any? %>
          <h2><%= pluralize(@post.errors.count, "error")%> in the form </h2>
          <ul>
            <!-- show the error msg customized -->
            <% @post.errors.each do |key,value| %>
            <li ><%= value %></li>
            <% end %>
          </ul>
        <% end %>
      </div> 
    </div>

  <!-- input form Create or Edit -->
    <div class="row-fluid" >
      <div class="span2">
  	    <%= f.label :title %>
  	  </div>
      <div class="span8">
        <%= f.text_field :title, size: '50' %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <%= f.label :text %>
      </div>
      <div class="span8">
        <%= f.text_area :text, :size => "70x10" %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        Tag
      </div>
      <div class="span8">
        <% for tag in Tag.find(:all) %>
          <%= check_box_tag "post[tag_ids][]", tag.id, @post.tag_ids.include?(tag.id) %>
          <%= tag.name %>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <%= f.label 'Image' %>
      </div>
      <div class="span5">
        <%= f.file_field :avatar %><br>
      </div>
    </div>

    <div class="row-fluid">
    <div class="span10 offset2"><%= f.submit submit, class: "btn btn-large btn-primary" %>  
      <%= link_to 'Cancel', posts_path, class:"btn btn-large" %>
    </div>
    </div>
</div>
    
</div>
<% end %>