<!--******************************
* list all the posts find by     * 
* search                         *         
*                                *
*******************************-->

<!-- pages -->
<div style="padding: 0 0 0 50px;">
  <span style="font-family:Impact;font-weight:normal;"><%= page_entries_info @posts %></span>
  <%= will_paginate @posts%><br>
</div>


<div class="post">
  <% @posts.each do |post| %>
  <div class="post_title">
    <div class="post_title1">  Title:<br>
      <% if post.avatar.size %>
        (<%= image_submit_tag 'has_image.png', class: 'has_picture', disabled: true %>)
      <% else %>
        (<%= image_submit_tag 'no_image.png', class: 'has_picture', disabled: true %>)
      <% end %>
      <%= post.title %>
    </div>
    <div class="post_title2">
      <div style="float:left;margin-right: 5px;"><i class="icon-tags"></i></div>
      <% post.tag_ids.each do |tag_id| %>
        <div style="float:left;">
          <a href= <%= posts_path(tag: tag_id) %> ><button class="btn btn-info"><%= Tag.find(tag_id).name %></button></a>
        </div>
      <% end %>
    </div>
  </div>



  <div class="post_text">
    <div class="post_text1">
      <span style="float:left;margin-right:20px"><a href="javascript:test()"><i class="icon-comment"> </i></a> <%= link_to post.comments.size, post_comments_path(post.id) %></span>

      <span><%= post.created_at.strftime('%Y-%m-%d %H:%M') %><span>
      <span style="float:right;padding-right:10px;">
      <i class="icon-eye-open"></i> <%= link_to 'Detail', post_path(post.id) %>
      <i class="icon-edit"></i> <%= link_to 'Edit', edit_post_path(post) %>
      <i class="icon-trash"> </i><%= link_to 'Destroy', post_path(post),
                                method: :delete, data: {confirm: 'Are you sure?'} %>
      </span>
      
    </div>
    <div class="post_text2">
      <% str = post.text.length > 50? '...' : '' %>
      <%= post.text[0,50] + str %>
    </div>
  </div>
  <% end %>
  <span style="float:left;"><%= will_paginate @posts%></span>
</div>

<div id="tagCloudContainer" class="tagCloudContainer">
  <canvas width="280px" height="300px" id="tagCloud"></canvas></div>
<div id="tags" style="display:none">     
  <% @tags.each do |tag|%>
    <%= link_to tag.name, posts_path(tag: tag.id) %>
  <% end %>
</div><br>
