
<div style="border-bottom: 2px solid silver">
<h2>Post Detail</h2>

<%= link_to 'Edit Post', edit_post_path(@post) %> | <%= link_to 'Back to PostsList', posts_path %>

</div>

<div style="border-bottom:5px double silver;height:450px">

  <div style="float:left;width:300px;height:400px;">
    

    <p>
      <b>Title:</b> <%= @post.title %>
    </p>

    <p style="border: 1px solid silver; width: 305px;">
      <%= image_tag @post.avatar(:medium) %>
    </p>
  </div>
  
  <div style="float:left;width:600px;height:400px;margin:0 0 0 100px">
    <p>
      <b>Text:</b><br> <%= @post.text %>
    </p>
  </div>
</div>


<div style="float:left;height:300px;width: 500px;">


<h2>Comments: (<%= @post.comments.count %>)</h2>
  <table>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
      <th>Post Time</th>
      <th>Option</th>
    </tr>

  <%= render @comments %>
  </table>
  <br>
  <%= page_entries_info @comments%>
  <%= will_paginate @comments%>
  
</div>

<div style="background-color:#ADD6FF ;width: 660px;float: left;margin: 0 0 0 100px;border-left: 5px solid silver;height: 30s0px;">
<h2>add your comment:</h2>
<%= render 'comments/form'%>

</div>

