<!-- check tab comment & hide addcomment div -->

<script type="text/javascript">
  $(document).ready( function() {
    $('#tab1').addClass('active');
    $('#addcomment').hide();
  });
</script>


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="PD_top">
  <h2>Post Detail</h2>
  <i class="icon-edit"></i> <%= link_to 'Edit Post', edit_post_path(@post) %> | <i class="icon-circle-arrow-left"></i> <%= link_to 'Back to PostsList', posts_path %>
</div>

<div class="PD_body">

  <div class="PD_body_left">
    <p>
      <b>Title:</b>
      <%= @post.title %>
    </p>

    <p class="PD_image">
      <%= image_tag @post.avatar(:medium) %>
    </p>

    <div class="PD_tags_icon"><i class="icon-tags"></i></div>
     
    <% @post.tag_ids.each do |tag_id| %>
      <div style="float:left;">
        <a href= <%= posts_path(tag: tag_id) %> >
          <button class="btn btn-info">
            <%= Tag.find(tag_id).name %>
          </button>
        </a>
      </div>
    <% end %>

  </div>
  
  <div class="PD_body_right">
    
    <div class="PD_text"><%= @post.text %></div>

    <ul class="nav nav-tabs">
      <li id="tab1">
        <a href="javascript:tab1_onclick()">
          <i class="icon-comment"></i>
          (<%= @comments.count %>)
        </a>
      </li>
      <li id="tab2">
        <a href="javascript:tab2_onclick()">
          Add a comment
        </a>
      </li>
    </ul>

    <div id="comments" class="PD_comments">
        <% @comments.each do |comment| %>
          <i class="icon-user"></i> 
          <%= comment.commenter %> 
          <span style="float:right;margin: 0 0 0 0;">
            <i class="icon-trash"></i> 
            <%= link_to "delete", del_post_comment_path(@post, comment.id) %>
            <%= comment.created_at.strftime('%Y-%m-%d %H:%M')%>
          </span><br>
          <div class="PD_text" style="height:20px;margin-top: 2px;" ><%= comment.body %></div><br>
        <% end %>
        <%= will_paginate @comments%>  
    </div>

      <div id="addcomment" class="PD_comments" style="">
       
        <%= render 'comments/form'%>
    
      </div>
    </div>
  </div>

  



